
.maindiv{
  width: 100%;
  padding: 12%;
}

@keyframes appear{
  from{
    opacity: 0;
    scale: 0.5;
  }

  to{opacity: 1;
    scale: 1;
  }
}

html, body {
  cursor: none; /* Hide the default cursor globally */
}

*{
  margin: 0;
  padding:0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  cursor: none;
}

nav{
  height: 120px;
  background-color: #FFFCF4;
  align-items: center;
  right: 12%;
  z-index: 1000;
}

body{
    background-color: #FFFCF4; 
}

nav ul{
  float: right;
  font-family: "Afacad Flux", sans-serif;
  margin-right: 12%;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
  
  
}

nav ul li a{
  position: relative;
  color: #011ECB;
  font-size: 24px;
  top: 24px;
}

nav ul li a::before{
  position: absolute;
  content:'';
  left:0;
  bottom:0;
  height: 3px;
  width: 100%;
  background: #011ECB;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;
  top: 40px;
}

nav ul li a:hover:before{
  transform: scaleX(1);
  transform-origin: left;
}

label #btn,
label #cancel{
color: #011ECB;
font-size: 40px;
float:right;
line-height: 80px;
margin-top: 16px;

cursor: pointer;
display: none;

}

#check{
  display: none;
}

@media (max-width: 944px){
  .logo{
    left: 12%;
    top: 40px;
    width: 130px;
    cursor: pointer;
  }
  nav ul li a{
    font-size: 32px;
  }

  nav{
    padding-right: 12%;
  }
}

@media (max-width: 944px){
  label #btn{
    display: block;
    top: 40px;
   
  }

  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #FFFCF4;
    top: 80px;
    left: -100%;
    transition: all .5s;
    text-align: center;
    z-index: 999;
  }

  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a{
    font-size: 32px;
  }

  #check:checked~ul{
    left: 0;

  }

  #check:checked~ label #btn{
    display: none;
    top: 40px;
  }

  #check:checked~ label #cancel{
    display: block;
    top: 40px;
    
  }

  footer{
    padding: 16%;
    margin-top: 24%;
  }

}



.logo{
top: 40px;
width: 40px;
height: 37.239px;
flex-shrink: 0;
position: absolute;
left: 12%;
cursor: pointer;
}



footer{
font-family: "Afacad Flux", sans-serif;
color: #807E7A;
width: 100%;
background-color: #FFFCF4;
text-align: center;
bottom: 0;
padding: 6%;
margin-top: 24%;

}

.footersvg {
  width: 32px;
  height: 32px;
  transition: fill 3s ease; /* Smooth transition effect */
}

/* Change SVG color on hover */
.footersvg:hover path {
  fill: #011ECB; /* Change to the desired hover color */
}

svg {
  width: 32px;
  height: 32px;
  transition: fill 3s ease; /* Smooth transition effect */
}

/* Change SVG color on hover */
svg:hover path {
  fill: #011ECB; /* Change to the desired hover color */
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 12%;
  padding-left: 12%;
  padding-top: 5%;
  height: 20%;
  box-sizing: border-box;
  background-color: #FFFCF4;
  font-family:"neulis-cursive", sans-serif;

}

/* Text section styling */
.hero-text {
  flex: 1;
  padding-right: 10px;
  font-family:"neulis-cursive", sans-serif;
}

/* Heading */
h3 {
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* Styling for "Hi I'm" */
.intro {
  font-size: 72px; /* Smaller font size for "Hi I'm" */
  padding-left: 90px; /* Greater left padding for "Hi I'm" */
  font-weight: 100;
  color: #011ECB;
  font-family:"neulis-cursive", sans-serif;

}

/* Styling for "Revathi" */
.first-name {
  font-size: 128px; /* Larger font size for "Revathi" */
  padding-left: 0; /* More left padding for "Revathi" */
  color: #011ECB;
  font-family:"neulis-cursive", sans-serif;
  line-height: 0.5;


}

/* Styling for "Rajesh" */
.last-name {
  font-size: 128px; /* Same font size as "Revathi" */
  padding-left: 100px; /* Even greater left padding for "Rajesh" */
  color: #011ECB;
  font-family:"neulis-cursive", sans-serif;
 
}



/* Paragraph */
.hero p {
color: #011ECB;
text-align: right;
font-family: "Afacad Flux", sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
letter-spacing: -0.456px;
}


.hero-image {
  flex: 1;
  float: right;
  transform: scale(1.2);
 padding-left: 150px;

}

.hero-image img {
  max-width: 100%;
  height: auto;
}

/* Responsive styles */
@media (max-width: 944px) {
  .hero {
      flex-direction: column;
      text-align: center;
      gap: 30px;
  }

  .hero-text {
      padding-right: 0;
  }

  .hero-image {
      margin-top: 20px;
      text-align: center;
      padding-left: 0;
      transform: scale(1);
  
  }

  .intro{
    font-size: 60px;
    padding-left: 10%;
   
  }

  .first-name{
    font-size: 100px;
    line-height: 0.8;
    font-weight: 100;
   
  }

  .last-name{
    font-size: 100px;
    padding-left: 15%;
    font-weight: 100;

  }


  .hero p {
      font-size: 1.1rem;
      text-align: right;

  }

}

@media (max-width: 480px) {

  .intro{
    font-size: 42.078px;
    padding-left: 10%;
  }

  .first-name{
    font-size: 74.805px;
    line-height: 0.8;
  }

  .last-name{
    font-size: 74.805px;
    padding-left: 15%;
  }

  .hero p {
      font-size: 1rem;
  }

  .hero-btn {
      padding: 12px 25px;
  }

  .hero{
    gap: 40px;
  }

  .hero-image {
    margin-top: 20px;
    text-align: center;
    padding-left: 0;
}

}

.subheading{
  margin-left: 12%;
  width: 70%;
  margin-top: 12%;
  margin-bottom: 8%;
  margin-right: 12%;
  color: #011ECB;
  font-family: "Afacad Flux", sans-serif;
  color: #011ECB;
  text-align: left;
  font-family: "Afacad Flux";
  font-size: 48px;
  padding-bottom: 0;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@media (max-width: 944px){
  .subheading{
    font-size: 32px;
  }
  .subheading-radio{
    font-size: 32px;
  }
}
@media (max-width: 480px){
  .subheading{
    font-size: 24px;
  }
}

:root{
  --cards:4;
  --cardHeight:90vh;
  --cardTopPadding:1.5em;
  --cardMargin: 4vw;
}

.container{
border: #011ECB;
  width:100%;
  padding-left: 12%;
  padding-right: 12%;
  align-items: center;
}


#cards{
  list-style: none;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards), calc(--cardHeight));
  gap: var(--cardMargin);
  padding-bottom: calc(var(--cards)) * var(--cardTopPadding);
  margin-bottom: var(--cardMargin);
}

#card1{
    --index: 1;
}

#card2{
    --index: 2;
}

#card3{
    --index: 3;
}

#card4{
    --index: 4;
}

.card{
    position: sticky;
    top: 0;
    padding-top: calc(var(--index)) * var(--cardTopPadding);
}

#card1 .card-body{
    background-color: #FFFCF4;
}
#card2 .card-body{
    background-color: #FFFCF4;
}

#card3 .card-body{
    background-color: #FFFCF4;
}

#card4 .card-body{
    background-color: #FFFCF4;
}

.card-body{
margin-top: 0;
float: center;
font-family: "Afacad Flux", sans-serif;
font-size: 5vh;
font-style: normal;
color: #011ECB;
line-height: 69.571px; /* 96.627% */
box-sizing: border-box;
padding: 8%;
border-radius: 65px;
border: 3px solid #011ECB;
width: 100%;
height: var(--cardHeight);
flex-shrink: 0;
gap: 160px;
}


@media (max-width: 944px){
  .card-body{
    width: 100%;
  }

}
.card-body{
  display: flex;
  flex-direction: row;
}

.classcentral{
  top: 70px;
  max-width: 351px;
}

.tags{
  display: flex;
  padding: 3px;
  font-size: 24px;
  float: left;
}

.tag{
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 4px;
  display: inline-block; /* Change from flex to inline-block */
  text-align: center;
  padding-right: 12px;
  padding-left: 12px; /* Keeps padding */
  border-radius: 29px;
  border: 1px solid #011ECB;
  background: #FFFCF4;
  color: #011ECB; /* Optional: set text color */
  font-size: 24px; /* Optional: set font size */
  line-height: 2;
  font-family: "Afacad Flux", sans-serif; /* Optional: set font family */
  white-space: nowrap; /* Prevents text from wrapping to a new line */
}

.cardright{
  float: right;
}

.cardpara{
color: #011ECB;
font-family: "Afacad Flux", sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
text-align: left;
line-height: 1.2;
margin-top: 40px;
}


.view-project-button {
  display: inline-flex;
  padding: 20px 40px;
  align-items: center;
  border-radius: 90px;
  font-size: 24px;
  font-family: "Afacad Flux", sans-serif;
  background: #011ECB;
  color: white; /* Change text color if needed */
  border: none; /* Remove default border */
  cursor: pointer; /* Change cursor on hover */
  margin-top: 56px;
}

.view-project-button:hover{
  background-color: #01127A;
}

.arrow-icon {
  margin-left: 8px; /* Space between text and arrow */
  fill: white; /* Change arrow color if needed */
}

.playground{
text-align: left;
margin-top: 8%;
margin-bottom: 50px;
font-family:"neulis-cursive", sans-serif;
color: #011ECB;
text-align: center;
font-size: 160px;
font-style: normal;
font-weight: 400;
}
@media (max-width: 944px){
  .playground{
    margin-left: 9%;
    margin-bottom: 3px;
    margin-top: 8%;
    font-size: 60px;
    text-align: left;
  }

}

@media (max-width: 480px){
  .playground{
    margin-left: 9%;
    margin-top: 8%;
    margin-right: 8%;
    font-size: 40px;
    padding-left: 0px;
    margin-bottom: 3px;
    text-align: left;
  }

}

.playpara{
  margin-left: 8%;
  margin-right: 8%;
  color: #011ECB;
  font-family: "Afacad Flux", sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  padding-left: 45%;
  padding-right: 8%;

}

@media (max-width: 944px){
  .playpara{
    font-size: 24px;
    padding-left: 5px;
    width: auto;
  }
}

@media (max-width: 480px){
  .playpara{
    font-size: 16px;
    padding-left: 5px;
    width: auto;
  }
}

.contact-container{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100vh;
  /* padding: 20px 100px; */
  /* gap: 32px; */
  margin-bottom: 12%;
}
.contact-container:after{
  content:'';
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  /* gap: 32px; */
}

.contact-box{
  /* max-width: 850px; */
  display: flex;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left{
  width: 540px;
height: 424px;
  text-align: left;
  height: 100%;
  font-family:"neulis-cursive", sans-serif;
  color: #011ECB;
font-size: 64px;
font-style: normal;
font-weight: 100;
line-height: 1.3;
}

.right{
padding-bottom: 24px;
display: flex;
width: 552px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
}

.field{
  color: #B3B9E8;
  font-size: 72px;
  font-family: "Afacad Flux", sans-serif;
  transition: .3s;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #FFFCF4;
  outline: none;
  border: none;
  border-bottom: 3px solid  #011ECB;
}

.field::placeholder{
  color: #B3B9E8;
  font-size: 72px;
  font-family: "Afacad Flux", sans-serif;
  transition: .3s;
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
}

.contact-btn{
  display: inline-flex;
  padding: 20px 40px;
  align-items: center;
  border-radius: 90px;
  font-size: 24px;
  font-family: "Afacad Flux", sans-serif;
  background: #011ECB;
  color: white; /* Change text color if needed */
  border: none; /* Remove default border */
  cursor: pointer; /* Change cursor on hover */
  width: fit-content;
  gap: 10px;
}

.contact-btn:hover{
  background-color: #01127A;
}

@media (max-width: 944px){

  .contact-container{
    margin-bottom: 12%;
  }
  .contact-box{
    margin-top: 48%;
    grid-template-columns: 1fr;
    font-size: 32px;

  }
  .left{
    width: 100%;
    font-size: 48px;
  }
}

@media (max-width: 480px){
  .contact-container{
    margin-bottom: 12%;
  }

  .contact-box{
    margin-top: 72%;
    grid-template-columns: 1fr;
    font-size: 24px;
  }

  .left{
    width: 100%;
    font-size: 24px;
  }
}

.movingtext{
  height: 1000px;
  overflow-x: hidden;
}

.abouth1{
  margin: 0;
  padding: 0;
  font-family:"neulis-cursive", sans-serif;
  color: #011ECB;
  font-size: 160px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  left: 500px;
}

.aboutpic{
  width: 50%;
  margin-top: 12%;
  position: sticky;
  z-index: -1;
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.aboutp{
color: #011ECB;
font-family: "Afacad Flux", sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
padding-left: 50%;
padding-top: 8%;
padding-right: 12%;
animation: appear linear;
animation-timeline: view();
animation-range: entry 0% cover 40%;
}

@media (max-width: 944px){
  .aboutp{
    font-size: 16px;
    padding: 12%;
  }
  .abouth1{
    margin-left: 8%;
    font-size: 96px;
    transform: translateY(-200%);
  }
  .movingtext{
    height: 700px;
  }
  
  .aboutpic{
    width: 80%;
  }
}

@keyframes slide{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}


.scroll{


  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
}

.scroll:before,
.scroll:after{
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}
.scroll:before{
  left: 0;
  background: linear-gradient(to left, rgba(255,252,244,0),#FFFCF4);
}
.scroll:after{
  right: 0;
  background: linear-gradient(to right, rgba(255,252,244,0),#FFFCF4);
}

.scroll-slide{
  display: inline-block;

animation: 30s slide infinite linear;
}


.scroll-slide2{
  display: inline-block;

animation: 10s slide infinite linear;
}

.scroll-slide span{
  height: 70px;
  background-color: #FFFCF4;
  border: 3px solid  #011ECB;
  padding: 16px ;
  border-radius: 90px;
  font-family: "Afacad Flux", sans-serif;
  color: #011ECB;
  font-size: 48px;
  margin: 0 20px;
}

.scroll-slide2 span{
  height: 70px;
  background-color: #FFFCF4;
  border: 3px solid  #011ECB;
  padding: 16px ;
  border-radius: 90px;
  font-family: "Afacad Flux", sans-serif;
  color: #011ECB;
  font-size: 48px;
  margin: 0 20px;
}

.scroll-slide span:hover{
  background-color: #011ECB;
  color: #FFFCF4;
}

.scroll-slide2 span:hover{
  background-color: #011ECB;
  color: #FFFCF4;
}

@media (max-width: 944px){

  .scroll{
    padding: 12%;
    margin-bottom: 12%;
  }

  .scroll-slide span{
    font-size: 16px;
    margin: 0 5px;
  }

  .scroll-slide2 span{
    font-size: 16px;
    margin: 0 5px;
  }

  .scroll:before,
.scroll:after{
  width: 5%;
}
}

.experience-grid {

  padding-top: 8%;
  display: grid;
  grid-template-columns: 1fr auto; /* Main content and right-aligned date */
  gap: 40px;
  white-space: nowrap;
  gap: 32%
}

.experience-item h3 {
  font-size: 40px;
  font-weight: bold;
  color: #011ECB;
  padding-top: 8%;
}

.experience-item .role {
  font-size: 32px;
  color: #011ECB;
    padding-top: 8%;
}

.experience-item .date {
  font-size: 24px;
  color: #4D61D7;
}

@media (max-width: 944px) {
  .experience-grid {
    padding-left: 0;
    grid-template-columns: 1fr; /* Stacks items on smaller screens */
    gap: 20px;
    text-align: left;
  }

  .experience-item h3{
    font-size: 32px;
  }
  .experience-item .role{
    font-size: 24px;
  }

  .experience-item .date{
    font-size: 16px;
  }

  .date-right {
    text-align: left;
  }
}

.about-page {
  margin-top: 12%;
  margin: auto;
  text-align: center;
  font-family: "Afacad Flux", sans-serif;
}

.radio-wrapper {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically if needed */
  align-items: center; /* Center items horizontally */
  margin: 8% 12%; /* 12% margin on the sides */
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.radio-container {
align-self: center;
width: 100%;
  display: flex;
  align-items: center;
  border: 3px solid #011ECB; /* Blue border */
  border-radius: 12px; /* Rounded corners */
  padding: 4% 8%;
  margin: 10px 12%;
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transitions on hover */
}

.radio-container:hover {
background-color: #011ECB;
color: #FFFCF4;
}

.radio-container:focus {
  background-color: #011ECB;
  color: #FFFCF4;
  }

/* Hide default radio button */
.radio-container input[type="radio"] {
  display: none;
}

/* Custom radio button styling */
.radio-custom {
  width: 20px;
  height: 20px;
  border: 2px solid #011ECB ;
  border-radius: 50%; 
  position: relative;
  margin-right: 15px;
  flex-shrink: 0;
}

hr{
  width: 76%;
  margin: 12%;
  border-color: #011ECB;
}


.radio-container input[type="radio"]:checked + .radio-custom::after {
  content: '';
  width: 12px;
  height: 12px;
  background-color: #FFFCF4;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.radio-label {
  text-align: left;
  font-size: 32px;
  color: #011ECB; 
  font-family: "Afacad Flux", sans-serif;
}


@media (max-width: 944px){
  .radio-label{
    font-size: 16px;
  }
}

.radio-container:hover{
  .radio-label {
    color: #FFFCF4; 
  }
  .radio-custom{
    border: 2px solid #FFFCF4 ;
  }
}


.radio-container input[type="radio"]:checked + .radio-custom {
  color: #011ECB; 
  background-color: #011ECB; 
}


.hidden-section-wrapper{
  margin: 10px 12%;
}

.hidden-section {
  align-self: center;
  width: 100%;
    display: none;
    align-items: center;
    border-top: 2px solid #011ECB; /* Blue border */
    padding: 8%;
    transition: all 0.3s ease; /* Smooth transitions on hover */
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}




.hobbies-item{
  margin-top: 12%;
  padding-left: 0;
  font-size: 24px;
}

.playgound-button{
  padding-left: 50%;
}

@media (max-width: 944px){
  .hobbies-item{
    font-size: 16px;
  }

  .playgound-button{
    padding-left: 0;
  }

  .view-project-button{
   font-size: 16px;
padding: 8%;
  }
}


.quote{
width: 90%;
position: relative;
justify-content: center;
margin: auto;
animation: appear linear;
animation-timeline: view();
animation-range: entry 0% cover 40%;
}
.aboutquote{
  padding-top: 12;
  padding-bottom: 8%;
}
.about-quote-text{
  margin-top: 12%;
  margin-left: 12%;
  margin-right: 12%;
  text-align: center;
  justify-content: center;
  font-family: "Afacad Flux", sans-serif;
  font-size: 40px;
  color: #011ECB;
}
.aboutquote1{
left: 0;
}

.aboutquote2{
right: 0;
position: absolute;

}

@media (max-width: 944px){
  .aboutquote1{
    transform: scale(0.2);
    left: 0;
  }

  .aboutquote2{
    transform: scale(0.2);

  }
  .about-quote-text{
    margin: 8%;
    text-align: center;
    justify-content: center;
    font-family: "Afacad Flux", sans-serif;
    font-size: 16px;
    color: #011ECB;
  }
}

.subheading-radio{
  width: 70%;
  margin-bottom: 8%;
  margin-right: 12%;
  color: #011ECB;
  font-family: "Afacad Flux", sans-serif;
  color: #011ECB;
  text-align: left;
  font-family: "Afacad Flux";
  font-size: 48px;
  padding-bottom: 0;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@media (max-width: 944px){
  .subheading-radio{
    font-size: 32px;
  }
}

@media (max-width: 480px){
  .subheading-radio{
    font-size: 24px;
  }
}


a {
  cursor: none; /* Hides the default cursor over links */
}

.cursor {
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 2000;
}

.outer {
  transition: transform 250ms ease-in-out; /* Smooth scaling transition */
  height: 15px;
  width: 15px;
  background: #011ECB;
}

.inner {
  height: 60px;
  width: 60px;
  border: 2px solid #011ECB;
  opacity: 70%;
  transition: background 250ms ease-out, transform 250ms ease-in-out;
}

.cursor.hover {
  transform: translate(-50%, -50%) scale(2); 
  transition: transform 250ms ease-in-out;
}

.inner.hover {
  background: #011ECB;
}
